body {
  font-family: sans-serif ;
  font-variant: mono;
  font-weight: ;
  font-style: ;
  color:white;
  animation-name: ;
  animation-duration: ;
  background: black;
	overflow: hidden;
}

h1 {
  position: relative;
  margin:auto;
  text-align: right;
  width: 80%;
  color:white;
  outline: lightyellow, 5px;
  font-size:40 px ;
}

h2 {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  color:navy;
}

a{
  color:lightblue;
  size:30px;
}

div.feature {
 Shape: circle;
 color: white;
}


div.spacer{
  width: 100px;
  height:100px;
}

div.smallspacer{
  width: 100px;
  height:25px;
}

div.nav {
  position: relative;
  margin:auto;
  text-align: left;
  color:lightyellow;
  outline: lightyellow, 5px;
  font-size:30 px ;
  font-weight:thin;
  font-family: monospace;
}
div.hspace{
  width:10px;
}

map{
  border-radius:50%;
}
