body {
  font-family: sans-serif ;
  font-variant: monospace;
  font-weight: ;
  font-style: ;
  color:white;
  animation-name: ;
  animation-duration: ;
  background: black;
	overflow: scroll;
  height:inherit;
}

h1 {
  position: relative;
  margin:auto;
  text-align: right;
  width: 80%;
  color:white;
  outline: lightyellow, 5px;
  font-size:40px ;
}

h2 {
  position: relative;
  text-align: left;
  width: 80%;
  margin: auto;
  font-weight: lighter;
  font-style: monospace;
  color:white;
}

a{
  color:lightblue;
  size:30px;
}

div.feature {
 Shape: circle;
 color: white;
}


div.spacer{
  width: 100px;
  height:100px;
}

div.smallspacer{
  width: 100px;
  height:25px;
}

div.nav {
  position: relative;
  margin:auto;
  text-align: left;
  color:lightyellow;
  outline: lightyellow, 5px;
  font-size:20px;
  font-weight:thin;
  font-family: monospace;
}
div.hspace{
  width:10px;
}

img.bubble {
  margin:auto;
  border-radius:80%;
  max-height:300px;
  max-width:300px;
  float:left;
  align:center;
  opacity:100%;
}
img.hbubble {
  :circle;
  border-radius:50%;
  max-height:200px;
  max-width:400px;
  float:left;
  align:center;
  opacity:100%;
  outline: 2px;
  outline-color: Yellow;
}
