body {
  font-family:'Archivo','Space Mono' ;
  font-variant: monospace;
  font-weight: ;
  font-style: normal;
  color:white;
  background: black;
	overflow: scroll;
  cursor:cell;
}

h1 {
  position: absolute;
  left:85%;
  top:5%;
  margin:auto;
  text-align: right;
  color:white;
  outline: lightyellow, 5px;
  font-size:40px ;
}

h2 {
  position: fixed;
  vertical-align: middle;
  text-align: left;
  width: 80%;
  margin: auto;
  font-weight: lighter;
  font-style: monospace;
  color:white;
}

footer{
  position: absolute;
  left:70%;
  top:5%;
  display:flex;
  z-index: 1;
}
a{
  color:lightpink;
  size:30px;
  text-decoration: none;
}

a:hover{
  font-style: italic;
  opacity:40%;
  color: lightgray;
  transform: scale(1.2,1.2,1.2);
}

div.feature {
  margin-left:100px;
  display:flex;
}


div.spacer{
  width: 100px;
  height:100px;
}

div.smallspacer{
  width: 100px;
  height:25px;
}
div.bubbleshome{
  max-width: screen(60%);
  position: relative;
  padding-right:30%;
}

div.nav {
  position: relative;
  text-align: right;
  color:lightyellow;
  font-size:20px;
  font-weight:thin;
  font-family: 'Space Mono', monospace;
  font-kerning: 40;
}
div.hspace{
  width:10px;
}

img.bubble3{
  margin:auto;
border-radius: 50%;
  max-height:300px;
  max-width:300px;
  float:left;
  align:left;
  opacity:100%;

}
img.bubble1 {
  margin:auto;
border-radius: 50%;
  height:100px;
  width:100px;
  float:left;
  align:left;
  opacity:100%;
}

img.bubble1:hover,img.bubble2:hover,img.bubble3:hover, div.bubbletext:hover,div.rightbubbles:hover{
  opacity:30%;
  font: white;
 transform:scale3d(1.5,1.5,1.5);
   cursor:cell;
}

div.bubbletext:hover, div.rightbubbles:click{
  transform: rotateY(180deg);
  opacity: 40%;
  text-transform:uppercase;
    cursor:cell;
}
.hovercap:hover{
  position:relative;
  font-size:18px;
  color:white;
}

img.bubble2 {
  margin:auto;
border-radius: 50%;
  height:200px;
  width:200px;
  float:left;
  align:left;
  opacity:100%;
}

img.full{
  max-width: 80%;
  padding: 10%;
  height: inherit;
  width: inherit;
  float:left;
  display: inline;
  position: relative;
  left:50px;
  top:50px;
  align:left;
  z-index: -1;
}

img.inline{
  max-width: 80%;
  padding: 10%;
  height: inherit;
  width: inherit;
  float:left;
  display:flex;
  position: relative;

}

.bubbletext {
  height:150px;
  width:150px;
  display:flex;
  border-radius: 50%;
  border-style: dashed;
  border-color: white;
  border-width: thick;
  padding: top;
  float:left;
  font-size: 12px;
  text-align: center;
  position:relative;
  font-family: "Space Mono";
  color:black;
  background-color: lightyellow;
  opacity:60%;
}

div.bubbletext p{
  margin:0;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform:translate(-50%,-50%);
}



.spacedate {
  font-family: "space mono";
  position: relative;
  margin-left:2%;
  font-size: 40px;
  text-align: left;
  font-weight: lighter;
  color: lightyellow;
}
.title {
  font-family: "archivo";
  position: relative;
  margin-left:2%;
  margin-right: 50%;
  font-size: 40px;
  text-align: left;
  font-weight: lighter;
  color: lightyellow;
  display: inline-block;

}

.longtext{
  font-family: "space mono";
  margin-top:10px;
  margin-left:2%;
  position:absolute;
  font-size: 16px;
  max-width: 50%;
  text-align: left;
  font-weight: lighter;
  font-stretch: semi-expanded;
}

.rightbubbles {
  align-items:right;
  position: relative;
  margin-left:60%;
  opacity: 50%;
}

div.caption{
  position: relative;
  font-family:"space mono";
  font-size: 16px;
  text-align:left;
  max-width: 70%;
  font-weight: lighter;
  font-stretch: semi-expanded;
  margin-right:15%;
  margin-left:10%;
  position:relative;
  z-index:1;
}
div.arttitle{
  position: relative;
  font-family:"space mono";
  font-variant: uppercase;
  font-size: 30px;
  text-align:left;
  max-width: 80%;
  font-weight: lighter;
  font-stretch: semi-expanded;
  margin-right:15%;
  margin-left:10%;
  padding:2%;
  position:relative;
}

div.myDiv{
  font-family: 'space mono';
  font-size: 16px;
  max-width: 60%;
  text-align: left;
  font-weight: lighter;
  font-stretch: semi-expanded;
}

#panelamy,#panelalicia,#panelkytana, .flip {
  padding: 10px;
  text-align: left;
  background-color:inherit;
  position:relative;
  font-family: 'space mono';
  font-size: 16px;
  max-width: 60%;
  font-weight: lighter;
  font-stretch: semi-expanded;
}

div.musing{
  padding: 2px;
  text-align: left;
  background-color:inherit;
  font-variant: small-caps;
  position:relative;
  font-family: 'space mono';
  font-size: 20px;
  max-width: 60%;
  font-weight: lighter;
  font-stretch: semi-expanded;
}

#panel {
  display: none;
  font-family: 'space mono';
}
