body{
  background:#b3c5db;
  font-family:'Space Mono';
  text-decoration: none;
}

img.center{
  float:center;
  position: static;
  max-width:50%;
  margin-top:-12%;
}

img.topleft{
  float:left;
  position: relative;
  max-width:25%;
}

a{
  color: teal;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
}
a.discovery{
  color: teal;
  font-size: inherit;
  font-style: normal;
  text-decoration: none;
}

a.module{
  color: teal;
  font-size: inherit;
  font-style: normal;
  text-decoration: none;
}

div.request{
  position:sticky;
  float:left;
  margin-left: 12%;
}
div.discover{
  position:sticky;
  float:right;
  margin-right: 12%;
  font-size: 30px;
  color:gray;
}
div.discover2{
  position:sticky;
  float:center;
  max-width:24%;
  font-size: 18px;
  left:10%;
  font-style:oblique;
}

div.bigspacer{
  width:200px;
  height:400px;
}
div.medspacer{
  width: 100px;
  height:250px;
}
div.smallspacer{
  width: 100px;
  height:25px;
}

div.module {
  position: absolute;
  max-height: 40%;
  max-width:40%;
  word-wrap: normal;
  left:30%;
  top:30%;
  scroll-behavior: auto;
  overflow: scroll;
  font-size: 150%;
  padding: 5%;
}

img.spinner{
  max-width: 5%;
  padding:1%;
  display:none;
}

h1 {
  font-family:'Archivo';
  position: fixed;
  right:5%;
  top:5%;
  margin:auto;
  text-align: right;
  color:black;
  font-size:80px ;
}

@media only screen and ( max-width: 900px) {
  img.center{
    float:right;
    position: fixed;
    max-width:70%;
  }
  div.request{
    position:fixed;
    margin:2%;
    padding:2%;
    left:60%;
    top:30%;
  }
  a{
    color: navy;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
  }
  div.discover{
    position:fixed;
    font-size:20px;
    color:gray;
    margin-right:2%;
    padding:2%;
    top:40%;
    left:60%;
  }

  h1 {
    font-family:'Archivo';
    position: absolute;
    text-align: right;
    color:black;
    font-size:80px ;
    margin-top:-5%;
  }
  div.bigspacer{
    width:100px;
    height:100px;
  }

  div.medspacer{
    height:75px;
  }

  div.module{
    font-size:100%;
    max-width:70%;
  }

  img.topleft{
    max-width: 40%;
  }

  h1{
    top:-1%;
  }
}
